div{
    text-align: center;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#box1{
    background-color: rgba(0,0,255,0.5);
}
#box2{
    background-color: rgba(0,0,255,0.75);
}
#box3{
    background-color: rgba(0,0,255,0.5);
}